*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}
button {
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    /*background: lightblue;*/ /* color for debugging */
    width: 80%; /* add margins (reduce container width) */
    height: 10vh;
    margin: auto; /* center the container */
    align-items: center;
}

/* Styles */
.logo-container,
.nav-links,
.cart {
    display: flex;
}

.logo-container {
    /*background: lightblue;*/
    flex: 1; /* take up all the space available */
}

.logo {
    font-weight: 400;
    margin: 5px;
}

nav {
    /*background: green;*/
    flex: 2;
}

.nav-links {
    justify-content: space-around;
    list-style: none;
}
.nav-link {
    color: #5f5f79;
    font-size: 18px;
    text-decoration: none; /* remove underline in links */
}

.cart {
    /*background: red;*/
    flex: 1;
    justify-content: flex-end; /* move cart to the right */
}

.presentation {
    display: flex;
    width: 90%;
    margin: auto;
    min-height: 80vh;
    align-items: center;
}

.introduction {
    /* background: blue; */
    flex: 1;
}

.intro-text h1 {
    font-size: 44px;
    font-weight: 500; /* medium */

    /* Add gradient to the text */
    background: linear-gradient(to right, #494964, #6f6f89);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.intro-text p {
    margin-top: 5px;
    font-size: 22px;
    color: #585772;
}

.cta {
    padding: 50px 0px 0px 0px; /* top right bottom left (clockwise) */
}

.cta-select {
    border: 2px solid #c36cbb;
    background: transparent;
    color: #c36cbb;
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;
}

.cta-add {
    border: none;
    background: #c36cbb;
    color: white;
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;
    margin: 30px 0px 0px 30px;
}

.cover {
    flex: 1;
}

.cover img {
    height: 60vh;
    filter: drop-shadow( 0px 5px 3px black); /* Add a filter directly to the image */
}

.big-circle {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: -1; /* move layer to the back */
    opacity: 0.5;
    height: 80%;
}
.medium-circle {
    position: absolute;
    top: 30%;
    right: 30%;
    z-index: -1;
    opacity: 0.4;
    height: 60%;
}
.small-circle {
    position: absolute;
    bottom: 0%;
    left: 20%;
    z-index: -1;
}